
<div class="page-wrapper">

  <div class="md-card sidebar">
    <mat-tab-group>
      <mat-tab label="Actions">  </mat-tab>
      <mat-tab label="Reducers">  </mat-tab>
      <mat-tab label="Selectors">  </mat-tab>
      <mat-tab label="Effects">  </mat-tab>
    </mat-tab-group>

  </div>


  <div class="md-card playground">

    <div class="table-wrapper md-card">
      <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialog(element.courseName)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

