$color-primary: #dc2626;
$color-primary-hover: #ef4444;
$border-gray: #bcbcbc;
$button-disabled-gray-background: #efefef;
$button-disabled-gray-color: #666666;
$footer-background: #18181b;
$navbar-background: #fafafa;
$drop-down-hover: #f4f4f4;
$drop-down-active: #f1f1f1;

$text-primary-black: #3e444a;
$text-success: #198754;

$breakpoint-xs: 300px;
$breakpoint-s: 550px;
$breakpoint-m: 900px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1600px;
