@use './base-variables' as vars;

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.full-width {
  width: 100%;
}

.text-gray {
  color: gray;
}

.text-primary-black {
  color: vars.$text-primary-black;
}

.text-primary-red {
  color: vars.$color-primary;
}

.cursor-pointer {
  cursor: pointer;
}

// nefunguje prepisuje bootstrap
.text-secondary {
  color: #b7b7b7;
}

.size-60px {
  font-size: 60px;
}

.size-50px {
  font-size: 50px;
}

.size-30px {
  font-size: 30px;
}

.size-20px {
  font-size: 20px;
}

.size-18px {
  font-size: 18px;
}

.size-16px {
  font-size: 16px;
}

.size-14px {
  font-size: 14px;
}

.size-12px {
  font-size: 12px;
}

.size-11px {
  font-size: 11px;
}
//
//.text-center {
//  text-align: center;
//}

