<app-home-button></app-home-button>

<div class="page-wrapper">

  <div class="sidebar md-card">
    <p><b>get()</b> vs <b>find()</b></p>
    <ul>
      <li><b>get()</b> does <b>not support</b> chaining 2 or more get() functions. It behaves like always starting from the top of the page.</li>
      <li><b>find()</b> keeps the reference frame. It finds all selectors in what get() returned.</li>
    </ul>
    <p><b>click()</b> method clicks in the centre by default. Use <code>force: true</code> to propagate the click as a workaround</p>
    <p>alias can be used by using <b>.as()</b> method. It needs to be then referenced via <b>.get("&#64;my-name")</b></p>
    <p>recommended way how to reference html elements is via <br> <b>[data-cy=*]</b></p>
    <p><b>.then((el) => &#123;&#125;)</b> provides function where specially wrapped element comes into play. This way, it can be checked whether
      the element has attributes or classes. The <b>syntax</b> for assertions <b>in callbacks</b> is with <b>expect()</b> instead of regular should()
    </p>
    <p><b>should()</b> passes the value automatically to <b>and()</b> which is basically an alias for should()</p>

    <p>Custom queries and commands can be created by Cypress.Commands class using <b>add()</b> or <b>addQuery()</b></p>

    <h3>Interceptors & Fake Requests</h3>
    <p><b>wait()</b> can be used only with interceptor alias. Also yields data to console about spied object</p>
    <p><b>intercept()</b> mocks whole http call. <br><code>Params: 'Method', 'URL', 'mocked object'</code> </p>
    <p><b>request()</b> sends a fake call to API. With <b>.then()</b>, the response data can be tested </p>
    <hr>
    <p><b>its()</b> refers of a value of its ancestor</p>
    <code>cy.getCookie().its('value').should(...)</code>
  </div>

  <div class="playground  md-card">
    <h2 id="main-title">This is a title to be tested by id</h2>
    <h3 class="sub-title">This is a subtitle to be tested by class</h3>
    <hr>
    <div class="mb-4">Modal output: {{modalOutput}}</div>
    <button id="dialog-button" class="w-100 mb-4" mat-flat-button (click)="openDialog()">Open modal</button>

    <div class="mt-4">
      <a routerLink="/home" data-cy="home-link">This is a router link home</a>
      &nbsp;&nbsp;&nbsp;
      <a routerLink="/signals" data-cy="signals-link">This is a router link to signals</a>
    </div>
    <br>
    <br>

    <h3>Fetch Data</h3>

    @if (dummyData) {
      <p data-cy="dummy-data-content">{{ dummyData.title }}</p>
    } @else {
      <p> No dummy data fetched </p>
    }
    <button class="w-100 mb-4" mat-flat-button (click)="fetchData()" data-cy="fetch-data-button">Fetch data</button>

  </div>
</div>
