.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.description-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.description-left-col {
  width: 30rem;
}
.description-right-col {
  width: 30rem;
}
