<mat-toolbar class="d-flex justify-content-between align-items-center">

  <div>Angular Playground</div>

  <div class="d-flex justify-content-between align-items-center">
    <div *ngIf="userNickName$ | async" class="label">
      <mat-icon color="primary">person</mat-icon>
      {{ userNickName$ | async }}
    </div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>

<div class="home-wrapper">

  <a class="tile" routerLink="/cypress">
    <div class="tile-title">CYPRESS</div>
  </a>

  <a class="tile" routerLink="/ngrx">
    <div class="tile-title">NGRX</div>
  </a>

  <a class="tile" routerLink="/signals">
    <div class="tile-title">SIGNALS</div>
  </a>

  <a class="tile" routerLink="/change-detection">
    <div class="tile-title">CHANGE DETECTION</div>
  </a>

  <a class="tile" routerLink="/dependency-injection">
    <div class="tile-title">DEPENDENCY INJECTION</div>
  </a>

  <a class="tile">
    <div class="tile-title">CONTENT PROJECTION</div>
  </a>

  <a class="tile">
    <div class="tile-title">HOST DECORATOR</div>
  </a>

</div>
