/* You can add global styles to this file, and also import other style files */
//@use 'styles/buttons';
//@use 'styles/inputs';
//@use 'styles/base-variables' as vars;
//@use 'styles/animations';
//@use 'styles/general-helpers';
//@use 'styles/layouts';
//@use 'styles/loader';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.md-card {
  border: 1px solid #dbdbdb;
  box-shadow: 0px 10px 33px -21px black;
  padding: 2rem;
  border-radius: 9px;
}

.label {
  border-radius: 15px;
  background: #c8e0ff;
  padding: 0px 6px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%
}
